src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd" version="EE-3.5.0">
    
    <flow name="mainFlow" processingStrategy="synchronous" doc:name="mainFlow">
        <expression-component doc:name="try to gain access to the Semaphore"><![CDATA[#[app.registry['PollSemaphore'].acquireLock()]]]></expression-component>
        <!-- choice based on semaphore boolean -->
        <choice doc:name="Choice">
        	<when expression="flowVars['semaphoreStatus'] == false">
				<foreach doc:name="For Each contact to be synced">
					<flow-ref name="synchronizeFlow" doc:name="call syncrhonizeFlow"/>
				</foreach>
        	</when>
        	<otherwise>
        		<logger level="INFO" message="Semaphore taken skiping run." doc:name="log 'Semaphore taken skiping run.'"/>
        	</otherwise>
        </choice>
        <expression-component doc:name="release access to the Semaphore"><![CDATA[#[app.registry['PollSemaphore'].releaseLock()]]]></expression-component>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultChoiceExceptionStrategy"/>
    </flow>
    <sub-flow name="synchronizeFlow" doc:name="synchronizeFlow">
        <flow-ref name="checkDoNotSyncMarkFlow" doc:name="call checkDoNotSyncMarkFlow"/>
        <choice doc:name="Choice">
            <when expression="">
                <flow-ref name="queryContactInBFlow" doc:name="call queryContactInBFlow"/>
                <choice doc:name="Choice">
                    <when expression="">
                        <flow-ref name="createContactInBFlow" doc:name="call createContactInBFlow"/>
                        <flow-ref name="putDoNotSyncMarkFlow" doc:name="call putDoNotSyncMarkFlow"/>
                    </when>
                </choice>
            </when>
            <otherwise>
                <flow-ref name="removeDoNotSyncMarkFlow" doc:name="call removeDoNotSyncMarkFlow"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="checkDoNotSyncMarkFlow" doc:name="checkDoNotSyncMarkFlow"/>
    <sub-flow name="removeDoNotSyncMarkFlow" doc:name="removeDoNotSyncMarkFlow"/>
    <sub-flow name="putDoNotSyncMarkFlow" doc:name="putDoNotSyncMarkFlow"/>
    <sub-flow name="queryContactInBFlow" doc:name="queryContactInBFlow"/>
    <sub-flow name="createContactInBFlow" doc:name="createContactInBFlow"/>
    
</mule>
