src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<!-- In this file you should declare all your inbound endpoints and from 
		here control the access to your application -->

	<flow name="triggerSyncronizationFromSalesforceInstanceAFlow"
		doc:name="triggerSyncronizationFromSalesforceInstanceAFlow"
		processingStrategy="synchronous">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}"
				startDelay="10000" />
			<watermark variable="lastQueryDateA" default-expression="${watermark.default.expression}"
				selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
			<sfdc:query-all config-ref="SalesforceA"
				doc:name="fetch contacts from A with filtering criteria"
				query="SELECT ${sfdc.query.fields} FROM Contact WHERE LastModifiedDate &gt; #[flowVars['lastQueryDateA']] AND Email != null ${sfdc.query.filters} ORDER BY LastModifiedDate ASC LIMIT 200"></sfdc:query-all>
		</poll>
		<batch:execute name="fromAToBBatch" doc:name="trigger batch sync from A to B"/>
	</flow>

	<flow name="triggerSyncronizationFromSalesforceInstanceBFlow"
		doc:name="triggerSyncronizationFromSalesforceInstanceBFlow"
		processingStrategy="synchronous">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}"
				startDelay="10000" />
			<watermark variable="lastQueryDateB" default-expression="${watermark.default.expression}"
				selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
			<sfdc:query-all config-ref="SalesforceB"
				doc:name="fetch contacts from B with filtering criteria"
				query="SELECT ${sfdc.query.fields} FROM Contact WHERE LastModifiedDate &gt; #[flowVars['lastQueryDateB']] AND Email != null ${sfdc.query.filters} ORDER BY LastModifiedDate ASC LIMIT 200"></sfdc:query-all>
		</poll>
		<batch:execute name="fromBToABatch" doc:name="trigger batch sync from B to A"/>
	</flow>

</mule>
