src/main/app/inboundEndpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<!-- 	In this file you should declare all your inbound endpoints and from here control the access to your application -->

    <flow name="triggerSyncronizationFromSalesForceInstanceAFlow" doc:name="triggerSyncronizationFromSalesForceInstanceAFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="60000"/>
	        <watermark variable="lastQueryDate" default-expression="YESTERDAY" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
            <sfdc:query config-ref="SalesforceA" doc:name="query Contacts from SalesFroce Instance A" query="dsql:SELECT EMail, FirstName, LastName, Id, LastModifiedDate FROM Contact WHERE LastModifiedDate &gt; #[flowVars['lastQueryDate']] AND EMail != null AND MailingCountry IN ('U.S.','United States','US') ORDER BY LastModifiedDate ASC LIMIT 200" fetchSize="${page.size}"/>
        </poll>
        <flow-ref name="mainFlow" doc:name="call mainFlow"/>
    </flow>
    
    <flow name="triggerSyncronizationFromSalesForceInstanceBFlow" doc:name="triggerSyncronizationFromSalesForceInstanceBFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="6000"/>
            <watermark variable="lastQueryDate" default-expression="YESTERDAY" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
			<sfdc:query config-ref="SalesforceB"   doc:name="query Contacts from SalesFroce Instance B" query="dsql:SELECT EMail, FirstName, LastName, Id, LastModifiedDate FROM Contact WHERE LastModifiedDate &gt; #[flowVars['lastQueryDate']] AND EMail != null AND MailingCountry IN ('U.S.','United States','US') ORDER BY LastModifiedDate ASC LIMIT 200" fetchSize="${page.size}"/>
        </poll>
		<flow-ref name="mainFlow" doc:name="call mainFlow"/>
    </flow>
</mule>
