src/main/app/inboundEndpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<!-- 	In this file you should declare all your inbound endpoints and from here control the access to your application -->

    <flow name="triggerSyncronizationFromSalesForceInstanceAFlow" doc:name="triggerSyncronizationFromSalesForceInstanceAFlow" processingStrategy="synchronous">
		<poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${polling.frequency}" />
            <watermark variable="lastQueryDate" default-expression="2000-01-01T00:00:00.000+0000" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
             <sfdc:query-all config-ref="SalesforceA" doc:name="Fetch Contacts with filtering criteria" 
             	query="SELECT Email, FirstName, LastName, Id, LastModifiedDate FROM Contact WHERE LastModifiedDate &gt; #[flowVars['lastQueryDate']] AND Email != null AND MailingCountry IN ('U.S.','United States','US') ORDER BY LastModifiedDate ASC LIMIT 100"></sfdc:query-all>
        </poll>
        <set-variable variableName="sourceSystem" value="A" doc:name="Variable" />
		<flow-ref name="mainFlow" doc:name="call mainFlow"/>
    </flow>
    
	<flow name="triggerSyncronizationFromSalesForceInstanceBFlow" doc:name="triggerSyncronizationFromSalesForceInstanceBFlow" processingStrategy="synchronous">
		<poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${polling.frequency}" />
            <watermark variable="lastQueryDate" default-expression="2000-01-01T00:00:00.000+0000" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
             <sfdc:query-all config-ref="SalesforceB" doc:name="Fetch Contacts with filtering criteria" 
             	query="SELECT Email, FirstName, LastName, Id, LastModifiedDate FROM Contact WHERE LastModifiedDate &gt; #[flowVars['lastQueryDate']] AND Email != null AND MailingCountry IN ('U.S.','United States','US') ORDER BY LastModifiedDate ASC LIMIT 100"></sfdc:query-all>
        </poll>
        <set-variable variableName="sourceSystem" value="B" doc:name="Variable" />
		<flow-ref name="mainFlow" doc:name="call mainFlow"/>
    </flow>
    
</mule>
